Node-RED-flow.json
[{"id":"d0211ee7.51288","type":"tab","label":"API","disabled":false,"info":""},{"id":"a626843b.137688","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"1ffa906b.8bc31","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"SMART_PARKING","tz":"","charset":"UTF8"},{"id":"55033238.efb2ac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bde54079.cb258","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"54cc02c7.7c2cfc","type":"ui_group","name":"Realtime Data","tab":"bde54079.cb258","order":1,"disp":true,"width":"12","collapse":false},{"id":"8c773d9f.3056","type":"ui_group","name":"Historical Data","tab":"bde54079.cb258","order":2,"disp":true,"width":"12","collapse":false},{"id":"5749dfff.2a222","type":"ui_group","name":"Default","tab":"8d16f8ce.591d18","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d16f8ce.591d18","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dcf95cc0.711b5","type":"users_config","appPath":"/users","jwtCookieName":"nr.nodeUsers.jwt","jwtHttpsOnly":false},{"id":"4386104a.d581d","type":"ui_group","name":"Summary","tab":"bde54079.cb258","order":3,"disp":true,"width":"24","collapse":false},{"id":"ae72d0cb.a28fe","type":"link in","z":"a626843b.137688","name":"in_detected_plate","links":["92782a3c.51c768","5329a195.8eb53"],"x":135,"y":400,"wires":[["6a701621.0bd558"]]},{"id":"ac10b998.9cd3a8","type":"ui_media","z":"a626843b.137688","group":"54cc02c7.7c2cfc","name":"car image","width":"6","height":"7","order":3,"category":"CAR","file":"","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":460,"y":120,"wires":[[]]},{"id":"4f25796e.7572d8","type":"file in","z":"a626843b.137688","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":270,"y":120,"wires":[["ac10b998.9cd3a8"]]},{"id":"1bbb8791.83fb88","type":"inject","z":"a626843b.137688","name":"","props":[{"p":"payload"},{"p":"filename","v":"CAR/car_001.jpg","vt":"str"},{"p":"mimetype","v":"image/jpeg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[[]]},{"id":"2e696b96.d5ea54","type":"file in","z":"a626843b.137688","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":280,"y":260,"wires":[["b23ed05f.b3e85"]]},{"id":"b23ed05f.b3e85","type":"ui_media","z":"a626843b.137688","group":"54cc02c7.7c2cfc","name":"plate image","width":"6","height":"1","order":4,"category":"PLATE","file":"","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":470,"y":260,"wires":[[]]},{"id":"d32db57c.422468","type":"inject","z":"a626843b.137688","name":"","props":[{"p":"payload"},{"p":"filename","v":"PLATE/plat_001.jpg","vt":"str"},{"p":"mimetype","v":"image/jpeg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[[]]},{"id":"ca923f9b.aa153","type":"ui_form","z":"a626843b.137688","name":"form predicted plate","label":"","group":"54cc02c7.7c2cfc","order":6,"width":"6","height":"3","options":[{"label":"Detected License Plate","value":"detected_license_plate","type":"text","required":true,"rows":null}],"formValue":{"detected_license_plate":""},"payload":"","submit":"Edit","cancel":"Cancel","topic":"","x":500,"y":380,"wires":[["880f37fd.ebfd58"]]},{"id":"538ec93.6413138","type":"ui_text","z":"a626843b.137688","group":"54cc02c7.7c2cfc","order":7,"width":"6","height":"1","name":"","label":"Create On","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":640,"wires":[]},{"id":"bfe6bc8f.d772","type":"inject","z":"a626843b.137688","name":"dummy datetime","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13/11/2020 10:53:01","payloadType":"str","x":240,"y":700,"wires":[[]]},{"id":"35d32fb0.c859c","type":"ui_text","z":"a626843b.137688","group":"54cc02c7.7c2cfc","order":1,"width":"6","height":"1","name":"","label":"Car Image","format":"","layout":"row-spread","x":470,"y":840,"wires":[]},{"id":"4fcda509.8c15dc","type":"ui_text","z":"a626843b.137688","group":"54cc02c7.7c2cfc","order":2,"width":"6","height":"1","name":"","label":"License Plate Image","format":"","layout":"row-spread","x":520,"y":900,"wires":[]},{"id":"6a701621.0bd558","type":"function","z":"a626843b.137688","name":"","func":"msg.payload = {\"detected_license_plate\": msg.payload };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":380,"wires":[["ca923f9b.aa153"]]},{"id":"39acc4a9.8e1e3c","type":"link in","z":"a626843b.137688","name":"in_datetime","links":["ba7a9452.178138","c85a1199.e42d6"],"x":135,"y":640,"wires":[["abf3b2ad.86563"]]},{"id":"abf3b2ad.86563","type":"function","z":"a626843b.137688","name":"","func":"function convert(timestamp){\n    var dt = new Date(timestamp*1000);\n    var d = {\n    \t'm':\tString(dt.getMonth() + 1).padStart(2, '0'),\n    \t'd':\tString(dt.getDate()).padStart(2, '0'),\n    \t'y':\tdt.getFullYear(),\n    \t'H':\tString(dt.getHours()).padStart(2, '0'),\n    \t'M':\tString(dt.getMinutes()).padStart(2, '0'),\n    \t'S':\tString(dt.getSeconds()).padStart(2, '0')\n    }\n\n    return d.d + \"/\" + d.m + \"/\" + d.y + \" \" + d.H + \":\" + d.M + \":\" + d.S; // result format 03/12/2020 07:15:10\n}\n\nmsg.payload = convert(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":640,"wires":[["538ec93.6413138"]]},{"id":"ccd55b78.9c68a8","type":"link in","z":"a626843b.137688","name":"in_car_image","links":["2bab8c2d.91ae34","1ab7f49c.6ef53b"],"x":85,"y":100,"wires":[["4f25796e.7572d8"]]},{"id":"5aeda823.6eb9f8","type":"link in","z":"a626843b.137688","name":"in_plate_image","links":["538b4cf0.f7ad24","a006520.33962b"],"x":75,"y":240,"wires":[["2e696b96.d5ea54"]]},{"id":"7a6a6e56.a8465","type":"ui_text","z":"a626843b.137688","group":"54cc02c7.7c2cfc","order":5,"width":"6","height":"1","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":450,"y":760,"wires":[]},{"id":"5945f9c5.e9b538","type":"link in","z":"a626843b.137688","name":"in_client_name","links":["ad1f636e.0a181","f839ffd1.24921"],"x":135,"y":760,"wires":[["7a6a6e56.a8465","5237904a.24c9d"]]},{"id":"a14942ed.d3edb","type":"ui_table","z":"a626843b.137688","group":"8c773d9f.3056","name":"","order":2,"width":"12","height":"8","columns":[],"outputs":0,"cts":false,"x":770,"y":1000,"wires":[]},{"id":"71aed3a7.b31dac","type":"mysql","z":"a626843b.137688","mydb":"1ffa906b.8bc31","name":"DB","x":310,"y":1000,"wires":[["19a88fe0.9ca6e","1e5ac7cb.8b9328"]]},{"id":"5237904a.24c9d","type":"function","z":"a626843b.137688","name":"PARKING","func":"msg.topic = \"select P1.*,  (P1.Timestamp - P2.Timestamp) AS Duration from PARKING_HISTORY P1 LEFT JOIN PARKING_HISTORY P2 ON (P1.Predicted_Plate = P2.Predicted_Plate AND P1.Timestamp > P2.Timestamp) order by P1.Timestamp desc;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":1000,"wires":[["71aed3a7.b31dac"]]},{"id":"19a88fe0.9ca6e","type":"function","z":"a626843b.137688","name":"","func":"function convert(timestamp){\n    var dt = new Date(timestamp*1000);\n    var d = {\n    \t'm':\tString(dt.getMonth() + 1).padStart(2, '0'),\n    \t'd':\tString(dt.getDate()).padStart(2, '0'),\n    \t'y':\tdt.getFullYear(),\n    \t'H':\tString(dt.getHours()).padStart(2, '0'),\n    \t'M':\tString(dt.getMinutes()).padStart(2, '0'),\n    \t'S':\tString(dt.getSeconds()).padStart(2, '0')\n    }\n    return d.d + \"/\" + d.m + \"/\" + d.y + \" \" + d.H + \":\" + d.M + \":\" + d.S; // result format 03/12/2020 07:15:10\n}\n\n\nmsg.payload.forEach(function(part, index) {\n  this[index].Timestamp = convert(this[index].Timestamp);\n}, msg.payload);\n\nfunction calculate_price(Client_Name, duration){\n    var price = \"\"\n    if (Client_Name == \"OUT\"){\n        price = Math.round((duration / 60) * 100);\n        price = \"Rp \" + price + \",-\";\n    }\n    return price\n}\nmsg.payload = msg.payload.map(v => ({...v, Price: calculate_price(v.Client_Name, v.Duration)}));\n\nmsg.payload = msg.payload.map(({ Timestamp, \n                               Predicted_Plate, \n                               Car_Image, \n                               Plate_Image, \n                               Client_Name,\n                               Price\n}) => ({\n                                                    \"Date Time\" : Timestamp,\n                                                    \"License Plate\" : Predicted_Plate,\n                                                    \"Car Image\" : Car_Image,\n                                                    \"Plate Image\" : Plate_Image,\n                                                    \"Gate\" : Client_Name,\n                                                    \"Price\" : Price\n                                                }));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1000,"wires":[["a14942ed.d3edb"]]},{"id":"27955d75.09f7e2","type":"inject","z":"d0211ee7.51288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World!","payloadType":"str","x":150,"y":60,"wires":[["68f7b903.2a9b08"]]},{"id":"68f7b903.2a9b08","type":"debug","z":"d0211ee7.51288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":120,"wires":[]},{"id":"2c089003.09ee1","type":"mysql","z":"d0211ee7.51288","mydb":"1ffa906b.8bc31","name":"","x":350,"y":380,"wires":[["e4fabf80.d5f68"]]},{"id":"e4fabf80.d5f68","type":"debug","z":"d0211ee7.51288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":440,"wires":[]},{"id":"e8f78771.7132e8","type":"inject","z":"d0211ee7.51288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["ef85c81e.c7c988"]]},{"id":"ef85c81e.c7c988","type":"function","z":"d0211ee7.51288","name":"SELECT PARKING_HISTORY","func":"msg.topic = \"select * from PARKING_HISTORY;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":320,"wires":[["2c089003.09ee1"]]},{"id":"6169f911.4a1c78","type":"comment","z":"d0211ee7.51288","name":"Flow Select data PARKING_HISTORY","info":"","x":190,"y":200,"wires":[]},{"id":"6365ed4b.f9ab54","type":"inject","z":"d0211ee7.51288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":620,"wires":[["94972d46.61c99"]]},{"id":"94972d46.61c99","type":"function","z":"d0211ee7.51288","name":"INSERT PARKING_HISTORY","func":"msg.topic = \"insert into PARKING_HISTORY (Timestamp, Predicted_Plate, Car_Image, Plate_Image, Client_Name) values (1605186685, 'B 343 AA', 'car_003.jpg', 'plate_003.jpg', 'Raspi_001');\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":700,"wires":[["f39e5208.e6356"]]},{"id":"f39e5208.e6356","type":"mysql","z":"d0211ee7.51288","mydb":"1ffa906b.8bc31","name":"","x":450,"y":760,"wires":[["2c57b7e.bfe4c48"]]},{"id":"2c57b7e.bfe4c48","type":"debug","z":"d0211ee7.51288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":840,"wires":[]},{"id":"2745c6d3.99f5ea","type":"http response","z":"d0211ee7.51288","name":"","statusCode":"","headers":{},"x":830,"y":940,"wires":[]},{"id":"4eaf2599.fb4fac","type":"http in","z":"d0211ee7.51288","name":"","url":"/history","method":"get","upload":false,"swaggerDoc":"","x":130,"y":960,"wires":[["df1aa66d.ef0138"]]},{"id":"ef543578.0c0e58","type":"mysql","z":"d0211ee7.51288","mydb":"1ffa906b.8bc31","name":"DB","x":690,"y":940,"wires":[["2745c6d3.99f5ea"]]},{"id":"b10176d3.53bb68","type":"function","z":"d0211ee7.51288","name":"hist","func":"msg.topic = \"select * from PARKING_HISTORY;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":940,"wires":[["ef543578.0c0e58"]]},{"id":"653105ad.ccc0bc","type":"http in","z":"d0211ee7.51288","name":"","url":"/parking","method":"post","upload":true,"swaggerDoc":"","x":130,"y":1280,"wires":[["23262085.d2dfd","1787027d.c0ecde"]]},{"id":"6e885228.ef229c","type":"http response","z":"d0211ee7.51288","name":"","statusCode":"","headers":{"isSave":"False"},"x":790,"y":1780,"wires":[]},{"id":"4af543e2.27edec","type":"function","z":"d0211ee7.51288","name":"INSERT PARKING_HISTORY","func":"var timestamp = msg.payload.data.timestamp;\nvar predicted_plate = msg.payload.data.predicted_plate.replace(/[^0-9A-Z]/gi, '').slice(0,10);\nvar car_image = msg.payload.data.car_image;\nvar plate_image = msg.payload.data.plate_image;\nvar client_name = msg.payload.data.client_name;\n\nmsg.topic = \"insert into PARKING_HISTORY (Timestamp, Predicted_Plate, Car_Image, Plate_Image, Client_Name) values (\" \n            + timestamp + \", '\" \n            + predicted_plate + \"', '\" \n            + car_image + \"', '\" \n            + plate_image + \"', '\" \n            + client_name + \"');\"\n            \nmsg.stringOne = predicted_plate;\nmsg.stringTwo = global.get(\"last_predicted_text\");\n\nmsg.payload_backup = [];\nmsg.payload_backup = msg.payload;\n    \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1400,"wires":[["31782dbc.186ec2"]]},{"id":"776d7ef6.57a9c","type":"mysql","z":"d0211ee7.51288","mydb":"1ffa906b.8bc31","name":"","x":870,"y":1600,"wires":[["32c8f42c.880e8c","f97ad4b3.863c28"]]},{"id":"23262085.d2dfd","type":"debug","z":"d0211ee7.51288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1280,"wires":[]},{"id":"97019899.a31488","type":"comment","z":"d0211ee7.51288","name":"Flow Insert Data PARKING_HISTORY","info":"","x":220,"y":580,"wires":[]},{"id":"786dc9e5.dca4d8","type":"comment","z":"d0211ee7.51288","name":"API GET Data  PARKING_HISTORY","info":"","x":240,"y":880,"wires":[]},{"id":"b16e1259.76d1b","type":"comment","z":"d0211ee7.51288","name":"API POST Data PARKING_HISTORY","info":"","x":210,"y":1240,"wires":[]},{"id":"dbd1baee.034188","type":"function","z":"d0211ee7.51288","name":"","func":"msg.payload.car_binary = msg.req.files[0].buffer;\nmsg.payload.plate_binary = msg.req.files[1].buffer;\nmsg.payload.car_filename = msg.req.files[0].originalname;\nmsg.payload.plate_filename = msg.req.files[1].originalname;\n\nreturn [msg, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":2180,"wires":[["41786d65.cbb824"],["66429df3.8ff4e4","ccaf67b6.e8fb18"]]},{"id":"d0409ad2.b11f78","type":"file","z":"d0211ee7.51288","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":730,"y":2060,"wires":[[]]},{"id":"a4b13c21.b20b5","type":"file","z":"d0211ee7.51288","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":730,"y":2200,"wires":[[]]},{"id":"41786d65.cbb824","type":"function","z":"d0211ee7.51288","name":"CAR DATA","func":"msg.filename = 'CAR/' + msg.payload.car_filename;\nmsg.payload = msg.payload.car_binary;\nmsg.mimetype=\"image/jpeg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":2080,"wires":[["d0409ad2.b11f78","2bab8c2d.91ae34"]]},{"id":"66429df3.8ff4e4","type":"function","z":"d0211ee7.51288","name":"PLATE DATA","func":"msg.filename = 'PLATE/' + msg.payload.plate_filename;\nmsg.payload = msg.payload.plate_binary;\nmsg.mimetype=\"image/jpeg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":2220,"wires":[["a4b13c21.b20b5","538b4cf0.f7ad24"]]},{"id":"478b550a.4e937c","type":"http in","z":"d0211ee7.51288","name":"","url":"/parking_data","method":"post","upload":true,"swaggerDoc":"","x":130,"y":2100,"wires":[["d1e16fba.5e449","5eb09465.9d983c"]]},{"id":"592914d9.a5629c","type":"http response","z":"d0211ee7.51288","name":"","statusCode":"","headers":{},"x":490,"y":2360,"wires":[]},{"id":"ccaf67b6.e8fb18","type":"function","z":"d0211ee7.51288","name":"","func":"msg.payload = \"success!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2300,"wires":[["592914d9.a5629c"]]},{"id":"92782a3c.51c768","type":"link out","z":"d0211ee7.51288","name":"detected_plate","links":["ae72d0cb.a28fe"],"x":975,"y":1480,"wires":[]},{"id":"a7f065e4.c0af88","type":"function","z":"d0211ee7.51288","name":"predicted_plate","func":"msg.payload = msg.payload.data.predicted_plate.replace(/[^0-9A-Z]/gi, '').slice(0,10);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1480,"wires":[["92782a3c.51c768"]]},{"id":"ba7a9452.178138","type":"link out","z":"d0211ee7.51288","name":"datetime","links":["39acc4a9.8e1e3c"],"x":975,"y":1540,"wires":[]},{"id":"9210f9f4.a88b18","type":"function","z":"d0211ee7.51288","name":"Create On","func":"msg.payload = msg.payload.data.timestamp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1540,"wires":[["ba7a9452.178138"]]},{"id":"2bab8c2d.91ae34","type":"link out","z":"d0211ee7.51288","name":"car_image","links":["ccd55b78.9c68a8"],"x":695,"y":2120,"wires":[]},{"id":"538b4cf0.f7ad24","type":"link out","z":"d0211ee7.51288","name":"plate_image","links":["5aeda823.6eb9f8"],"x":695,"y":2260,"wires":[]},{"id":"ad1f636e.0a181","type":"link out","z":"d0211ee7.51288","name":"client_name","links":["5945f9c5.e9b538"],"x":975,"y":1420,"wires":[]},{"id":"fd6d13f3.7662b","type":"function","z":"d0211ee7.51288","name":"client_name","func":"msg.payload = msg.payload.data.client_name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1420,"wires":[["ad1f636e.0a181"]]},{"id":"df1aa66d.ef0138","type":"users_isloggedin","z":"d0211ee7.51288","name":"","enableCustomHandler":true,"outputs":2,"x":330,"y":960,"wires":[["b10176d3.53bb68"],["b8200fa8.ad9f4"]]},{"id":"b8200fa8.ad9f4","type":"function","z":"d0211ee7.51288","name":"body","func":"msg.payload = msg.req.body.cred;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1060,"wires":[["75f5c853.96de58"]]},{"id":"75f5c853.96de58","type":"http request","z":"d0211ee7.51288","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:1880/users","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":1060,"wires":[["9c212189.93db8"]]},{"id":"9c212189.93db8","type":"switch","z":"d0211ee7.51288","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"204","vt":"num"},{"t":"eq","v":"401","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1060,"wires":[["86b1f596.b8dac8"],["6672f46c.3e5cec"]]},{"id":"86b1f596.b8dac8","type":"change","z":"d0211ee7.51288","name":"","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/history","tot":"str"},{"t":"set","p":"cookies","pt":"msg","to":"responseCookies","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1020,"wires":[["e9926332.33072"]]},{"id":"e9926332.33072","type":"http response","z":"d0211ee7.51288","name":"","statusCode":"","headers":{},"x":1160,"y":1060,"wires":[]},{"id":"6672f46c.3e5cec","type":"change","z":"d0211ee7.51288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"not authenticated\"","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1100,"wires":[["e9926332.33072"]]},{"id":"aa2b353d.09c1a8","type":"function","z":"d0211ee7.51288","name":"body","func":"msg.payload = msg.req.body.cred;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1920,"wires":[["2fd35dd0.f72aa2"]]},{"id":"2fd35dd0.f72aa2","type":"http request","z":"d0211ee7.51288","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:1880/users","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":1920,"wires":[["82c7ce0e.fd005"]]},{"id":"82c7ce0e.fd005","type":"switch","z":"d0211ee7.51288","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"204","vt":"num"},{"t":"eq","v":"401","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":1920,"wires":[["ede5fa81.f499e8"],["680d7d3a.111894"]]},{"id":"ede5fa81.f499e8","type":"change","z":"d0211ee7.51288","name":"","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"307","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/parking","tot":"str"},{"t":"set","p":"cookies","pt":"msg","to":"responseCookies","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1880,"wires":[["19546eed.d38721"]]},{"id":"19546eed.d38721","type":"http response","z":"d0211ee7.51288","name":"","statusCode":"","headers":{},"x":890,"y":1920,"wires":[]},{"id":"680d7d3a.111894","type":"change","z":"d0211ee7.51288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"not authenticated\"","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1960,"wires":[["19546eed.d38721"]]},{"id":"1787027d.c0ecde","type":"users_isloggedin","z":"d0211ee7.51288","name":"","enableCustomHandler":true,"outputs":2,"x":130,"y":1420,"wires":[["4af543e2.27edec"],["aa2b353d.09c1a8"]]},{"id":"3e041103.aaf2be","type":"function","z":"d0211ee7.51288","name":"body","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":2460,"wires":[["e75b24be.ff0d38"]]},{"id":"e75b24be.ff0d38","type":"http request","z":"d0211ee7.51288","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"localhost:1880/users","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":2460,"wires":[["e724f87d.101da8"]]},{"id":"e724f87d.101da8","type":"switch","z":"d0211ee7.51288","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"204","vt":"num"},{"t":"eq","v":"401","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":2460,"wires":[["d22da7a4.d2c918"],["a9675929.393bb8"]]},{"id":"d22da7a4.d2c918","type":"change","z":"d0211ee7.51288","name":"","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"307","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/parking_data","tot":"str"},{"t":"set","p":"cookies","pt":"msg","to":"responseCookies","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2420,"wires":[["ef3bb1b4.76ae"]]},{"id":"ef3bb1b4.76ae","type":"http response","z":"d0211ee7.51288","name":"","statusCode":"","headers":{},"x":850,"y":2460,"wires":[]},{"id":"a9675929.393bb8","type":"change","z":"d0211ee7.51288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"not authenticated\"","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2500,"wires":[["ef3bb1b4.76ae"]]},{"id":"d1e16fba.5e449","type":"users_isloggedin","z":"d0211ee7.51288","name":"","enableCustomHandler":true,"outputs":2,"x":150,"y":2260,"wires":[["dbd1baee.034188"],["3e041103.aaf2be"]]},{"id":"5eb09465.9d983c","type":"debug","z":"d0211ee7.51288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":2040,"wires":[]},{"id":"daf5a406.c4b538","type":"change","z":"d0211ee7.51288","name":"Gobal Initialization","rules":[{"t":"set","p":"last_predicted_text","pt":"global","to":"\"\"","tot":"str"},{"t":"set","p":"last_client_name","pt":"global","to":"\"\"","tot":"str"},{"t":"set","p":"last_timestamp","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1180,"wires":[[]]},{"id":"d0f04b8b.bf0018","type":"inject","z":"d0211ee7.51288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1180,"wires":[["daf5a406.c4b538"]]},{"id":"c55560c6.a5ed4","type":"inject","z":"d0211ee7.51288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1280,"wires":[["a254ff46.a1789"]]},{"id":"a254ff46.a1789","type":"function","z":"d0211ee7.51288","name":"","func":"msg.payload = global.get(\"last_predicted_text\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1280,"wires":[["caf18d75.597ee"]]},{"id":"caf18d75.597ee","type":"debug","z":"d0211ee7.51288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":1280,"wires":[]},{"id":"d5ebb40f.475a48","type":"switch","z":"d0211ee7.51288","name":"","property":"topic","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1700,"wires":[["fd6d13f3.7662b","a7f065e4.c0af88","9210f9f4.a88b18","776d7ef6.57a9c","a5b02847.635978"],["6e885228.ef229c"]]},{"id":"31782dbc.186ec2","type":"string-similarity","z":"d0211ee7.51288","name":"similarity detection","mode":"compare","x":350,"y":1500,"wires":[["e1a6b1a9.d032e","f7415390.5685c"]]},{"id":"e1a6b1a9.d032e","type":"function","z":"d0211ee7.51288","name":"check score","func":"function hasLowerCase(str) {\n    return (/[a-z]/.test(str));\n}\n\nvar predicted_plate = msg.payload_backup.data.predicted_plate.replace(/[^0-9A-Z]/gi, '').slice(0,10);\nvar client_name = msg.payload_backup.data.client_name;\nmsg.score = {};\nmsg.score = msg.payload;\n\nif ((msg.payload >= 0.4 && \n    global.get(\"last_client_name\") == client_name ) ||\n    predicted_plate.length < 6 ||\n    hasLowerCase(predicted_plate) ){\n    msg.topic = \"\";\n}\nelse {\n    global.set(\"last_predicted_text\", predicted_plate);\n    global.set(\"last_client_name\", client_name);\n}\n\nmsg.payload = msg.payload_backup; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1560,"wires":[["d06cf428.b14728"]]},{"id":"c17814d3.68e328","type":"function","z":"a626843b.137688","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1300,"wires":[["a14942ed.d3edb"]]},{"id":"32c8f42c.880e8c","type":"debug","z":"d0211ee7.51288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1580,"wires":[]},{"id":"c67980c9.0c16f","type":"ui_gauge","z":"a626843b.137688","name":"","group":"8c773d9f.3056","order":1,"width":"5","height":"4","gtype":"gage","title":"Total Parked Cars","label":"Car","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"15","x":670,"y":1200,"wires":[],"info":"Parking Occupancy"},{"id":"1e5ac7cb.8b9328","type":"function","z":"a626843b.137688","name":"OCCUPANCY","func":"msg.topic = \"SELECT COUNT(*) AS X FROM PARKING_HISTORY P1 LEFT JOIN PARKING_HISTORY P2  ON (P1.Predicted_Plate = P2.Predicted_Plate AND P1.Timestamp < P2.Timestamp) WHERE P2.Timestamp IS NULL AND P1.Client_Name = 'IN';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":1200,"wires":[["32846aeb.a72706"]]},{"id":"32846aeb.a72706","type":"mysql","z":"a626843b.137688","mydb":"1ffa906b.8bc31","name":"DB","x":310,"y":1200,"wires":[["5a6d046d.8dd4bc"]]},{"id":"5a6d046d.8dd4bc","type":"function","z":"a626843b.137688","name":"","func":"msg.payload = msg.payload[0].X\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1200,"wires":[["c67980c9.0c16f"]]},{"id":"62fe5b5a.d68774","type":"function","z":"d0211ee7.51288","name":"IS OUT IN PARKING","func":"msg.topic_backup = msg.topic;\n\nif (msg.payload.data.client_name == \"OUT\"){\n    msg.topic = \"SELECT COUNT(*) AS X FROM PARKING_HISTORY P1 LEFT JOIN PARKING_HISTORY P2  ON (P1.Predicted_Plate = P2.Predicted_Plate AND P1.Timestamp < P2.Timestamp) WHERE P2.Timestamp IS NULL AND P1.Client_Name = 'IN' AND P1.Predicted_Plate = '\"\n                + msg.payload.data.predicted_plate.replace(/[^0-9A-Z]/gi, '').slice(0,10)\n                + \"';\";\n}\nmsg.payload_backup = msg.payload; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1700,"wires":[["c0457ebf.81b52"]]},{"id":"c0457ebf.81b52","type":"mysql","z":"d0211ee7.51288","mydb":"1ffa906b.8bc31","name":"","x":330,"y":1760,"wires":[["365dba42.75d786"]]},{"id":"365dba42.75d786","type":"function","z":"d0211ee7.51288","name":"check in parking","func":"if (msg.payload[0].X == 0) {   // car yang mau gate out tidak  di parkiran\n    msg.topic = \"\";\n}\nelse {\n    msg.topic = msg.topic_backup;\n}\nmsg.payload = msg.payload_backup; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1840,"wires":[["d5ebb40f.475a48"]]},{"id":"8d942a4.9333bd8","type":"inject","z":"a626843b.137688","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1300,"wires":[["996a6505.e402b8"]]},{"id":"996a6505.e402b8","type":"function","z":"a626843b.137688","name":"","func":"msg.topic = \"delete from PARKING_HISTORY;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1300,"wires":[["af5df966.78b118"]]},{"id":"af5df966.78b118","type":"mysql","z":"a626843b.137688","mydb":"1ffa906b.8bc31","name":"DB","x":470,"y":1300,"wires":[["c17814d3.68e328"]]},{"id":"d06cf428.b14728","type":"switch","z":"d0211ee7.51288","name":"","property":"payload.data.client_name","propertyType":"msg","rules":[{"t":"neq","v":"OUT","vt":"str"},{"t":"eq","v":"OUT","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1620,"wires":[["d5ebb40f.475a48"],["62fe5b5a.d68774"]]},{"id":"880f37fd.ebfd58","type":"function","z":"a626843b.137688","name":"Update Predicted Text","func":"var last_predicted_text = global.get(\"last_predicted_text\");\nvar updated_predicted_text = msg.payload.detected_license_plate;\n\nmsg.topic = \"update PARKING_HISTORY set Predicted_Plate = '\" \n            + updated_predicted_text + \"' \"\n            + \"WHERE Predicted_Plate = '\" \n            + last_predicted_text + \"';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":380,"wires":[["964b7fbd.ff2b2"]]},{"id":"964b7fbd.ff2b2","type":"mysql","z":"a626843b.137688","mydb":"1ffa906b.8bc31","name":"DB","x":690,"y":460,"wires":[["5237904a.24c9d"]]},{"id":"f7415390.5685c","type":"debug","z":"d0211ee7.51288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1500,"wires":[]},{"id":"f97ad4b3.863c28","type":"http response","z":"d0211ee7.51288","name":"","statusCode":"","headers":{"isSave":"True"},"x":1050,"y":1660,"wires":[]},{"id":"a5b02847.635978","type":"delay","z":"d0211ee7.51288","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":1720,"wires":[["50521651.52e248"]]},{"id":"ddb39815.e1b628","type":"debug","z":"d0211ee7.51288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1300,"y":1740,"wires":[]},{"id":"50521651.52e248","type":"function","z":"d0211ee7.51288","name":"DELETE HISTORY","func":"if (msg.payload.data.client_name == 'OUT'){\n    msg.topic = \"DELETE FROM PARKING_HISTORY WHERE Predicted_Plate = '\" + msg.payload.data.predicted_plate.replace(/[^0-9A-Z]/gi, '').slice(0,10) + \"';\"\n}\nelse {\n    msg.topic = \"SELECT Client_Name FROM PARKING HISTORY WHERE Predicted_Plate = '\" + msg.payload.data.predicted_plate.replace(/[^0-9A-Z]/gi, '').slice(0,10) + \"';\" ;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":1780,"wires":[["efad8cc4.a8db3","ddb39815.e1b628"]]},{"id":"efad8cc4.a8db3","type":"mysql","z":"d0211ee7.51288","mydb":"1ffa906b.8bc31","name":"","x":1090,"y":1840,"wires":[["e1c70000.3b93"]]},{"id":"e1c70000.3b93","type":"link out","z":"d0211ee7.51288","name":"refresh","links":["71a018b7.5b7aa8"],"x":1235,"y":1840,"wires":[]},{"id":"71a018b7.5b7aa8","type":"link in","z":"a626843b.137688","name":"in_refresh","links":["e1c70000.3b93"],"x":55,"y":1060,"wires":[["5237904a.24c9d"]]}]